<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-avatar slot="end">
      <img src="assets/foto_desenvolvedor.jpg">
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <div>
        <h2>Giovani Nogueira Pires</h2>
        <p>Aluno da Etec "Cidade do Livro"</p>
        <p>Lençóis Paulista-SP</p>
        <p>(14) 99342-6798</p>
        <a href="mailto:giovani.pires3@etec.sp.gov.br">
          giovani.pires3@etec.sp.gov.br
        </a>
      </div>
    </ion-label>
  </ion-item>

  <div class="ion-text-center">
    <img src="https://assets.pokemon.com/static2/br/img/icons/tcgo_logo.png">
  </div>

  <ion-item lines="full">
    <ion-label>Versão</ion-label>
    <ion-badge slot="end" color="tertiary">0.1</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Ano</ion-label>
    <ion-badge slot="end" color="tertiary">2021</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Turma</ion-label>
    <ion-badge slot="end" color="tertiary">A</ion-badge>
  </ion-item>

</ion-content>
